<fm-file-manager 
[tree]="tree"
[iconTemplate]="iconTemplate"
[folderContentTemplate]="folderContentTemplate"
[folderContentNewTemplate]="folderContentNewTemplate"
></fm-file-manager>

<!-- #iconTemplate is required, let-node is reference to node-->
<ng-template let-node #iconTemplate>
    <i class="fa fa-arrow-alt-circle-right" style="padding: 5px"></i>
    {{node.name}}
</ng-template>
<ng-template let-node #folderContentTemplate>
        <div class="file-manager-item">
            <div class="file-preview">
            <i class="fa fa-3x fa-folder child"></i>
        </div>
        <div class="file-name">{{node.name}}</div>
    </div>
</ng-template>
<ng-template let-node #folderContentNewTemplate>
        <div class="file-manager-item">
            <div class="file-preview" style="width: 100%; height:100%">
            <i class="fa fa-3x fa-plus child" style="line-height: 2"></i>
        </div>
    </div>
</ng-template>