<form #roleform="ngForm" (ngSubmit)="saveRole(roleform.value)">
  <div class="{{error?'alert alert-danger':''}}">
    {{error}}
  </div>
  <div class="form-group">
    <label>Role Name</label>
    <input type="text" name="name" [(ngModel)]="modelname" class="form-control" required ngModel>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Module Name</th>
        <th>Module Permission</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of modules; let mid=index">
        <td>
            <label for="pmenu{{mid}}" >
          {{item.name | titlecase}}
          </label>
        </td>
        <td>
          <label for="menu{{mid}}{{ind}}" *ngFor="let per of item.modulepermission; let ind=index;" class="permiclass mr-5">
            <input type="checkbox" id="menu{{mid}}{{ind}}" (click)="removeItem($event,item.name+'.'+per.permission)" [checked]="modulepwe.indexOf(item.name+'.'+per.permission)!= -1" >
            {{per.permission | titlecase}}
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="submit" class="btn btn-primary btn-block" value="Save">
  </form>
