<div class="row">
  <form [formGroup]="mform" autocomplete="off" (ngSubmit)="sendMessage()">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-body">
          <div *ngFor="let f of form">
            <div [ngSwitch]="f.type">
              <div class="form-group" *ngSwitchCase="'text'">
                <label for="{{f.name}}">{{f.label}}</label>
                <input type="text" [formControlName]="f.name" class="form-control" id="{{f.name}}"
                  placeholder="Enter {{f.label}}">
              </div>
              <div class="form-group" *ngSwitchCase="'date'">
                <label for="{{f.name}}">{{f.label}}</label>
                <input type="text" [formControlName]="f.name" readonly class="form-control datetimepicker"
                  id="{{f.name}}" placeholder="Enter {{f.label}}">
              </div>
              <div class="form-group" *ngSwitchCase="'select'">
                <label for="{{f.name}}">{{f.label}}</label>
                <select [formControlName]="f.name" class="form-control" id="{{f.name}}">
                  <option value="">-- Select {{f.label}} --</option>
                  <option *ngFor="let c of f.chooise" value="{{c.value}}">{{c.lable}}</option>
                </select>
              </div>
              <div class="form-group" *ngSwitchCase="'editor'">
                <label for="{{f.name}}">{{f.label}}</label>
                <ck-editor [formControlName]="f.name" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-footer">
          <input type="submit" class="btn btn-primary mr-5" value="Save">
          <input type="submit" class="btn btn-success mr-5" value="Save & Edit">
          <input type="submit" class="btn btn-warning" value="Save & New">
          <div *ngIf="form['fbreak']">
            <div *ngFor="let f of form['fbreak']">
              <div [ngSwitch]="f.type">
                <div class="form-group" *ngSwitchCase="'text'">
                  <label for="{{f.name}}">{{f.label}}</label>
                  <input type="text" [formControlName]="f.name" class="form-control" id="{{f.name}}"
                    placeholder="Enter {{f.label}}">
                </div>
                <div class="form-group" *ngSwitchCase="'date'">
                  <label for="{{f.name}}">{{f.label}}</label>
                  <input type="text" [formControlName]="f.name" readonly class="form-control datetimepicker"
                    id="{{f.name}}" placeholder="Enter {{f.label}}" (change)="datechange($event,f.name)">
                </div>
                <div class="form-group" *ngSwitchCase="'select'">
                  <label for="{{f.name}}">{{f.label}}</label>
                  <select [formControlName]="f.name" class="form-control" id="{{f.name}}">
                    <option value="">-- Select {{f.label}} --</option>
                    <option *ngFor="let c of f.chooise" value="{{c.value}}">{{c.lable}}</option>
                  </select>
                </div>
                <div class="form-group" *ngSwitchCase="'editor'">
                  <label for="{{f.name}}">{{f.label}}</label>
                  <ck-editor [formControlName]="f.name" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                </div>
                <div class="form-group" *ngSwitchCase="'mediaimage'">
                  <label for="{{f.name}}">{{f.label}}</label>
                  <input type="text" [formControlName]="f.name" style="display:none;" class="form-control"
                    id="{{f.name}}" placeholder="Enter {{f.label}}">
                  <div class="form-group">
                    <img *ngIf="getImage(f.name)" [src]="getImage(f.name)" width="250px">
                    <fm-file-manager [tree]="tree" [isPopup]="true" (itemClicked)="itemClicked($event,f.name)">
                    </fm-file-manager>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
